.container {
    width: 28.2rem;
    height: 100vh;
    background: var(--purple-500);
    padding: 2.4rem 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    header {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            width: 2.1rem;
        }

        strong {
            font: 600 1rem Lexend, sans-serif;
            color: var(--white);
        }
    }

    .message {
        width: 19.7rem;
        height: 23rem;
        background: linear-gradient(143.8deg, rgba(145, 100, 250, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        border: dashed 1px var(--purple-800);
        border-radius: 1.6rem;

        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font: 600 1rem Lexend, sans-serif;
            color: var(--white);
            text-align: center;
        }
    }

    .podcastInfo {
        width: 19.7rem;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 23rem;
            border-radius: 1.6rem;
        }

        h2 {
            font: 600 1.6rem Lexend, sans-serif;
            color: var(--white);
            line-height: 1.7rem;
            margin-top: 2.1rem;
        }

        p {
            font-size: 1rem;
            color: var(--white);
            opacity: 0.4;
            margin-top: 1rem;
        }
    }

    footer {
        width: 19.7rem;
        display: flex;
        flex-direction: column;

        .duration {
            display: flex;
            align-items: center;
            gap: 1rem;

            p {
                flex: 1;
                font-size: 0.9rem;
                line-height: 1.1rem;
            }

            .slider {
                width: 11.6rem;
                height: 0.2rem;

                display: flex;
                align-items: center;

                .emptySlider {
                    width: 100%;
                    height: 100%;
                    background: var(--purple-300);
                    border-radius: 0.6rem;
                }
            }

        }

        .controls {
            width: 100%;
            margin-top: 2.6rem;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;

            button {
                background: transparent;
                border: 0;
                font-size: 0;
                border-radius: 1rem;

                transition: filter .2s;

                &:hover:not(:disabled) {
                    filter: brightness(0.7);
                }

                &:disabled {
                    cursor: default;
                    opacity: 0.5;
                }
            }

            button.playButton {
                width: 4.2rem;
                height: 4.2rem;
                background: var(--purple-400);

                &:hover:not(:disabled) {
                    filter: brightness(0.95);
                }
            }
        }
    }
}